{% extends 'base.html' %}

{% block title %}Attendance Page{% endblock %}

{% block content %}
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6">Attendance Results</h1>
        <div class="bg-white rounded-lg shadow-md p-6">
            {% if results %}
                <table class="w-full table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Student Name</th>
                            <th class="px-4 py-2">Assigned</th>
                            <th class="px-4 py-2">Attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result_list in results %}
                            {% for result_dict in result_list %}
                                <tr>
                                    <td class="border px-4 py-2">{{ result_dict.student_name }}</td>
                                    <td class="border px-4 py-2">{{ result_dict.is_assigned }}</td>
                                    <td class="border px-4 py-2 {% if result_dict.attendance == 'Recorded' %}text-green-500{% else %}text-red-500{% endif %}">{{ result_dict.attendance }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-lg text-red-600">No face detected or prediction failed.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}



